<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.crs_java.mapper.CarMapper">
    <resultMap id="carDetail" type="com.example.crs_java.entity.Car">
        <!-- 手动指定字段与实体的关系 -->
        <id column="Car.id" property="id"></id>
        <result column="UserId" property="UserId"></result>
        <result column="adminId" property="adminId"></result>
<!--        <result column="CarDetailId" property="CarDetailId"></result>-->
        <result column="CarInformation" property="CarInformation"></result>
        <result column="Num" property="Num"></result>
        <result column="color" property="color"></result>
        <result column="price" property="price"></result>
        <!-- 车辆详情 -->
        <result column="id" property="carDetail.id"></result>
        <result column="SpeadTime" property="carDetail.SpeadTime"></result>
        <result column="MostSpead" property="carDetail.MostSpead"></result>
        <result column="WLTC" property="carDetail.WLTC"></result>
        <result column="EnginType" property="carDetail.EnginType"></result>
        <result column="KW" property="carDetail.KW"></result>
        <result column="NM" property="carDetail.NM"></result>
        <result column="LongMM" property="carDetail.LongMM"></result>
        <result column="ZhouMM" property="carDetail.ZhouMM"></result>
        <result column="L" property="carDetail.L"></result>
        <result column="Oil" property="carDetail.Oil"></result>
        <result column="KG" property="carDetail.KG"></result>
        <result column="zhengKG" property="carDetail.zhengKG"></result>
        <result column="allowKG" property="carDetail.allowKG"></result>
        <result column="zm" property="carDetail.zm"></result>
        <result column="jianximm" property="carDetail.jianximm"></result>
        <result column="equip_qilang" property="carDetail.equip_qilang"></result>
        <result column="equip_taiya" property="carDetail.equip_taiya"></result>
        <result column="equip_LED" property="carDetail.equip_LED"></result>
        <result column="equip_weideng" property="carDetail.equip_weideng"></result>
        <result column="equip_zhinengyaoshi" property="carDetail.equip_zhinengyaoshi"></result>
        <result column="equip_gereboli" property="carDetail.equip_gereboli"></result>
        <result column="equip_diandongwei" property="carDetail.equip_diandongwei"></result>
        <result column="equip_yuying" property="carDetail.equip_yuying"></result>


    </resultMap>




    <!--用户登录-->
    <select id="findCarDetail" resultMap="carDetail">
        select * from Car, CarDetail where CarDetailId = CarDetail.id and Car.id = #{id}
    </select>


</mapper>